{% extends "layout.html" %}
{% block content %}

<div class="container">
{% if session['logged_in'] %}

{% if data %}
<div class="container">
<h3>팔로워 : {{ '{:,}'.format(cnt) }} </h3>
    <div class="row">
    {% for thumb in data %}
        <div class="col" style="padding:10px">
            <img src={{thumb}} width="150" height="150">
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}

<br><br>
<form action="" method="POST">
    <input type="username" name="username" placeholder="Instagram Username">
    <input type="submit" value="Finds">
</form>

<p>
박신혜 : ssinz7 <br>
공 유 : gongyoo1079<br>
박서준 : bn_sj2013<br>
이효리 : lee_hyori_onni<br>
정해인 : holyhaein<br>
</p>

{% else %}
<p><h4>로그인을 하시면 스타들의 인스타그램을 이용하실 수 있습니다.</h4></p>
{% endif %}
</div>
{% endblock %}