<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>index.html</h1>
    <a href="two?data1=111&data2=222">
        two</a><br/>
    <a href="two?data1=문자열1&data2=문자열2">
        two</a><br/>
    <hr/>
    <form action="two">
        <input type="text" name="data1"/><br/>
        <input type="text" name="data2"/><br/>
        <button type="submit">확인</button>
    </form>
    <hr/>
    <form action="two" method="post">
        <input type="text" name="data1"/><br/>
        <input type="text" name="data2"/><br/>
        <button type="submit">확인</button>
    </form>
</body>
</html>