<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>one.html</h1>
    <a href="http://www.naver.com" target="_blank">네이버</a><br>
    <a href="http://www.daum.net">다음</a><br>
    <a href="http://www.google.com">구글</a><br>

    <!-- http://127.0.0.1/second -->
    <a href="two">two</a><br>
    <hr>
    <form action="two"> <!-- get으로 넘어감 -->
        <button type="submit">get 확인</button>
    </form>
    <hr>
    <form action="two" method="post"> <!-- 이때만 post-->
        <button type="submit">post 확인</button>
    </form>

</head>
<body>

</body>
</html>